---

# SPDX-FileCopyrightText: (c) 2018-2025 by mundialis GmbH & Co. KG
# SPDX-License-Identifier: GPL-3.0-or-later

services:

  actinia-ogc-api-processes:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # -- For dev-setup and/or tests mount plugin src code:
    # volumes:
    #  - ..:/src/actinia-ogc-api-processes-plugin/.
    cap_add:
      - SYS_PTRACE
    ports:
      - "3003:3003"
    # -- For dev-setup/debugging uncomment following:
    # network_mode: "host"
    # stdin_open: true
    # tty: true
    # command: >
    #  sh -c "python -m actinia_ogc_api_processes_plugin.main --workers 1 --timeout 3600 --bind 0.0.0.0:3003"


  actinia-core:
    image: mundialis/actinia:2.12.2
    ports:
      - "8088:8088"
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:9.0-alpine
    command: [
      "sh",
      "-c",
      'docker-entrypoint.sh
      --requirepass pass'
    ]
