---

# SPDX-FileCopyrightText: (c) 2018-2025 by mundialis GmbH & Co. KG
# SPDX-License-Identifier: GPL-3.0-or-later

services:

  actinia-ogc-api-processes:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # -- For dev-setup and/or tests mount plugin src code:
    # volumes:
    #  - ..:/src/actinia-ogc-api-processes-plugin/.
    cap_add:
      - SYS_PTRACE
    ports:
      - "4044:4044"
    # -- For dev-setup/debugging uncomment following:
    # network_mode: "host"
    # stdin_open: true
    # tty: true
    # command: >
    #  sh -c "python -m actinia_ogc_api_processes_plugin.main --workers 1 --timeout 3600 --bind 0.0.0.0:4044"


  actinia-core:
    image: mundialis/actinia:2.13.1
    volumes:
      - ./actinia-data/resources:/actinia_core/resources

    # ports:
    #  - "8088:8088"
    depends_on:
      - valkey

  valkey:
    volumes:
      - ./valkey_data:/data
    image: valkey/valkey:9.0-alpine
    command: [
      "sh",
      "-c",
      'docker-entrypoint.sh
      --requirepass pass'
    ]
